<h1>Eat-Da-Burger!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>



<div class="row">
  <center>
    <!-- Left side (ready to eat) -->
    <div class="col-md-6">
      <h4>Taste It</h4>
      <div id="taste_it">

        <!-- Dynamically Insert Ready Burgers Here -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- Right side (finished) -->
    <div class="col-md-6">
      <h4>I Finished!</h4>
      <div id="finished">

        <!-- Dynamically Insert Eaten Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>